/* Tablet */
@media (min-width: 48rem) {

  .main-container{
    width: 38rem;
    height: 21.625rem;
    flex-direction: row;
    gap: 1.25rem;
  }

  .image-section{
    margin-bottom: 0;
    height: 21.625rem;
    width: 14.3125rem;
    display: block;
    border-top-right-radius:0;

  }

  .drawers-image{
    height: 100%;
    width: 100%;
    border-top-left-radius: 0.625rem;
    border-bottom-left-radius: 0.625rem;
    border-top-right-radius: 0;
    object-fit: cover;
  }

  article{
    width: 23.5rem;
    text-wrap: wrap;
  }

  h1{
    margin-bottom: 1.25rem;
  }

  .text-section{
    margin-bottom: 1.25rem;
  }

  .author-section{
    gap: 4.0625rem;
  }

  .share-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(80%);
    height: calc(100%);
    padding: 1.5625rem 2rem;
    position: absolute;
    top: -4.5625rem;
    left: 9.375rem;
    background-color: var(--Grey900);border-bottom-left-radius: 0.625rem;
    border-radius: 0.625rem;
    transform: translateY(100%);
    opacity: 0;
    transition: 0.5s;
    z-index: -1;
  }

  .share-container::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 6.25rem; /* Adjust this value to align with the Facebook icon */
    width: 0;
    height: 0;
    border-left: 0.625rem solid transparent;
    border-right: 0.625rem solid transparent;
    border-top: 0.625rem solid var(--Grey900);
  }

  .share-container.active {
    transform: translateY(0%);
    opacity: 1;
    z-index: 10;
  }

  .second-share-button{
    display: none;
  }
}

/* Laptop L */
@media (min-width: 90rem) {
  .main-container{
    width: 45.625rem;
    height: 17.5rem;
  }
  
  .image-section{
    height: 17.5rem;
    width: 17.8125rem;
  }

  article{
    width: 27.5rem;
    text-wrap: none;
  }

  .author-section{
    gap: 9.375rem;
  }

  .share-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(65%);
    height: calc(100%);
    padding: 1.5625rem 2rem;
    position: absolute;
    top: -4.5625rem;
    left: 14.5625rem;
    background-color: var(--Grey900);border-bottom-left-radius: 0.625rem;
    border-radius: 0.625rem;
    transform: translateY(100%);
    opacity: 0;
    transition: 0.5s;
    z-index: -1;
  }

  .share-container::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 6.25rem; /* Adjust this value to align with the Facebook icon */
    width: 0;
    height: 0;
    border-left: 0.625rem solid transparent;
    border-right: 0.625rem solid transparent;
    border-top: 0.625rem solid var(--Grey900);
  }
}
