
/* Tablet */
@media (min-width: 768px) {

  .main-container{
    width: 608px;
    height: 346px;
    flex-direction: row;
  }

  .image-section{
    margin-bottom: 0;
    height: 346px;
    width: 229px;
    display: block;
    border-top-right-radius:0;

  }

  .drawers-image{
    height: 346px;
    width: 229px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
  }

  article{
    width: 376px;
    text-wrap: wrap;
  }

  h1{
    margin-bottom: 20px;
  }

  .text-section{
    margin-bottom: 20px;
  }

  .author-section{
    gap: 65px;
  }

  
}

/* Laptop */
@media (min-width: 1024px) {

}

/* Laptop L */
@media (min-width: 1440px) {

}
