/* CSS Variables */
:root {
  --white: #FFFFFF;
  --Grey900: #48556A;
  --Grey500: #6E8098;
  --Grey400: #9DAEC2;
  --Grey200: #ECF2F8;
}

/*Typography*/
.text-preset-1-bold {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 130%;
  letter-spacing: 0.016px;
  color: var(--Grey900)
}

.text-preset-2-medium {
  font-size: 0.813rem;
  line-height: 140%;
  letter-spacing: 0.12%;
  color: var(--Grey500)
}

.text-preset-2-bold {
  font-size: 0.813rem;
  font-weight: bold;
  line-height: 140%;
  letter-spacing: 0.12%;
  color: var(--Grey900)
}

.text-preset-3 {
  font-size: 0.813rem;
  line-height: 140%;
  letter-spacing: 25%;
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: "Manrope", serif;
  background-color: var(--Grey200);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* Page Layout */
.main-container, article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container {
  width: 327px;
  height: 538px;
  background-color: var(--white);
  border-radius: 10px;
}

.image-section {
  margin-bottom: 32px;
}

.drawers-image {
  height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

article {
  width: 267px;
  text-wrap: none;
}

h1 {
  margin-bottom: 24px;
}

.text-section {
  margin-bottom: 48px;
}

.author-section, .author {
  display: flex;
}

.author {
  gap: 16px;
  width: 170px
}


.author-section {
  height: 40px;
  gap: 61px;
}

.author-avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.author-date {
  color: var(--Grey400)
}

button{
  padding: 10px 10px;
  border-radius: 50%;
  border: none;
  align-self: center;
  background-color: var(--Grey200);
}
