/* CSS Variables */
:root {
  --white: #FFFFFF;
  --Grey900: #48556A;
  --Grey500: #6E8098;
  --Grey400: #9DAEC2;
  --Grey200: #ECF2F8;
}

/*Typography*/
.text-preset-1-bold {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 130%;
  letter-spacing: 0.016px;
  color: var(--Grey900)
}

.text-preset-2-medium {
  font-size: 0.813rem;
  line-height: 140%;
  letter-spacing: 0.12px;
  color: var(--Grey500)
}

.text-preset-2-bold {
  font-size: 0.813rem;
  font-weight: bold;
  letter-spacing: 0.12px;
  line-height: 140%;
  color: var(--Grey900)
}

.text-preset-3 {
  font-size: 0.813rem;
  line-height: 140%;
  letter-spacing: 2.5px;
  font-weight: 400;
  color: var(--Grey400);
  text-transform: uppercase;
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: "Manrope", serif;
  background-color: var(--Grey200);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* Page Layout */
.main-container, article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container {
  width: 20.438rem;
  height: 33.625rem;
  background-color: var(--white);
  border-radius: 0.625rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* Add this line for the box shadow */
}

.image-section {
  height: 12.5rem;
  overflow: hidden;
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
}

article {
  padding: 2.125rem 2rem 1.25rem;
  text-wrap: none;
}

h1 {
  margin-bottom: 1.5rem;
}

.text-section {
  margin-bottom: 3rem;
}

.author-section, .author {
  display: flex;
}

.author {
  gap: 1rem;
  width: 11.125rem;
}

.author-section {
  display: flex;
  position: relative;
  gap: 2.5rem;
}

.author-avatar {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
}

.author-date {
  color: var(--Grey400);
}

.share-button {
  padding: 0.625rem 0.625rem;
  border-radius: 50%;
  border: none;
  align-self: center;
  background-color: var(--Grey200);
}

.share-button:hover {
  cursor: pointer;
}

.share-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% + 4.625rem);
  height: calc(100% + 2.5rem);
  padding: 1.25rem 2rem;
  position: absolute;
  top: -1.25rem;
  left: -2.313rem;
  background-color: var(--Grey900);
  border-bottom-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
  transform: translateY(100%);
  opacity: 0;
  transition: 0.5s;
}

.share-container.active {
  transform: translateY(0%);
  opacity: 1;
  z-index: 0;
}

.share-bar {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.share-bar button {
  background-color: var(--Grey500);
  border: none;
  border-radius: 50%;
  padding: 0.625rem;
  margin-left: 2.875rem;
}





